[submodule "dependencies/realsense-ros"]
	path = dependencies/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "dependencies/livox_ros_driver2"]
	path = dependencies/livox_ros_driver2
	url = https://github.com/rtarun1/livox_ros_driver2.git
[submodule "dependencies/visualnav-transformer"]
	path = dependencies/visualnav-transformer
	url = https://github.com/rtarun1/visualnav-transformer.git
[submodule "dependencies/kiss-mpc"]
	path = dependencies/kiss-mpc
	url = https://github.com/rtarun1/kiss-mpc.git
